* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0px;
}

nav a {
    float: left;
    display: block;
    /* display: inline-block; */
    color: #f2f2f2;
    text-align: center;
    padding: 13.5px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: fantasy;
}

.topnav {
    position: sticky;
    top: 0px;
    height: 48px;
    background-color: rgba(51, 51, 51, 0.822);
    color: white;
    z-index: 100;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.prawa {
    float: right;
    margin-left: 10px;
}

.gora {
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-top: 0px;
    top: 0px;
    text-align: center;
    font-size: 100px;
    font-family: fantasy;
    padding-bottom: 120px;
}

.gora b {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    color: rgba(0, 0, 0, 0.336);
}

.strona {
    background-color: white;
}

.zdjecia {
    margin-top: 0px;
    background-color: white;
    position: relative;
    overflow-x: hidden;
}

.zdjecia img {
    width: 100%;
}

#koszulki2 {
    position: absolute;
    animation-name: moving1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes moving1 {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    50.001% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

#koszulki3 {
    position: relative;
    animation-name: moving2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes moving2 {
    0% {
        left: -100%;
    }

    50% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

.linia {
    height: 5px;
    width: 100%;
    background-color: rgb(97, 93, 93);
}

.koszulki {
    background-color: greenyellow;
    color: rgb(97, 93, 93);
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rzadA {
    background-color: white;
}

.rzad1 {
    background-color: greenyellow;
    display: inline-block;
    height: 36.5vw;
    margin-left: 5vw;
    margin-top: 37px;
    border: solid 1px gray;
    box-shadow: 5px 2px 2px gray;
}

.rzad1:hover {
    background-color: indianred;
    border-radius: 5px;
    transform: scale(1.1);
    transition-duration: 2s;
}

.rzad1 img {
    width: 25vw;
}

.nazwa {
    color: greenyellow;
    text-align: center;
    font-family: fantasy;
    font-size: 2vw;
}

.rzad1:hover .nazwa {
    transition-duration: 1s;
    color: rgb(41, 39, 39);
}

.cena {
    font-family: fantasy;
    text-align: center;
    font-size: 2vw;
    color: rgb(41, 39, 39);
}

.stopka {
    background-color: greenyellow;
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.stopka a {
    color: grey;
}

/* //////////////////////// Koszulka1*/
.strona2 {
    background-color: whitesmoke;
}

.koszulka {
    padding-top: 30px;
    background-color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.vd video {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.slider {
    position: relative;
    margin: auto;
    width: 25vw;
}

.ramka {
    width: 25.17vw;
    margin: auto;
    background-color: black;
    border: 1px solid black;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0px;
}

.prev {
    left: 0px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next {
        font-size: 11px
    }
}

.zdjecie {
    display: none;
}

#zdjecie1 img {
    width: 25vw;
    vertical-align: middle;
}

#zdjecie2 img {
    width: 25vw;
    vertical-align: middle;
}

#zdjecie3 img {
    width: 25vw;
    vertical-align: middle;
}


#cena1 {
    color: rgb(100, 97, 97);
    font-size: 50px;
}

.rozmiar {
    margin-top: 20px;
    width: 230px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.ilosc {
    width: 60px;
    padding: 12px;
    border: 2px solid black;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 0;
    height: 45px;
}

.TabRoz {
    width: 75px;
    padding: 12px;
    border: 2px solid black;
    margin-bottom: 16px;
    border-radius: 0;
    height: 45px;
    display: inline-block;
}

.koszyk {
    position: relative;
    top: 8px;
    width: 60px;
    border: 2px solid black;
    height: 45px;
    background-color: greenyellow;
    color: black;
    padding: 0px 0px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 25px;

}


.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;

    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    /* /////////////////////////////////// */

}

.tabela1 {
    margin-top: 20px;
}

table {
    background-color: gray;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

th {
    border: 2px solid black;
}

#przedial {
    height: 50px;
}

.opis {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
}

/* //////////////////////// formularz */
input[type=text],
select,
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



input[type=submit]:hover {
    background-color: indianred;
}

#formularz {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.imie {
    clear: both;
    margin-top: 2vw;
}

input[type=radio] {
    padding: 0.5em;
    -webkit-appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
}

input[type=radio]:checked {
    display: inline-block;
    background-color: greenyellow;
}

.zdj {
    float: left;
    margin-left: 10px;

}


#wybor {
    visibility: hidden;
    position: absolute;
    list-style: none;
    opacity: 0;
    padding: 10px;
    -webkit-transition: opacity 1000ms, visibility 1000ms;
    transition: opacity 1000ms, visibility 1000ms;

}

/*///////test*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.zakup {
    height: 16vw;
}

.sidenav img {
    position: absolute;
    left: 1vw;
    width: 12.85vw;
    border: 2px solid greenyellow;
    margin-left: 0;
}

.RozIlo {
    position: absolute;
    left: 13.7vw;
    width: 110px;
    height: 15.15vw;
    border: 2px solid greenyellow;
    margin-left: 0;
    display: inline-block;
    background-color: rgba(172, 255, 47, 0.082);
}

.sidenav p {
    width: 5vw;
    margin-left: 0;
}

.usun {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 99, 71, 0.527);
}

.usun:hover {
    background-color: tomato;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    height: 60px;
}